@model FifaLeague.Web.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @if (Model.LastGameScreenshot != null)
    {
        <img class="last-game-screenshot" src="@Model.LastGameScreenshot" />
        <p class="last-game-result">@Model.LastGameResult</p>
    }
    else
    {
        <p>No games played yet</p>
    }
</div>